.catalog__wrapper
  padding: 40px 0

  .catalog__filter
    display: flex
    justify-content: space-between
    font-size: 25px
    line-height: 30px
    margin-bottom: 40px
    +media-lg(down)
      font-size: 20px
      line-height: 25px
    +media-md(down)
      flex-direction: column

  .filter__title
    +media-md(down)
      margin-bottom: 10px

  .filter__items
    width: 75%
    display: grid
    grid-template-columns: repeat(auto-fit, calc(100% / 4))
    +media-md(down)
      grid-template-columns: repeat(auto-fit, calc(100% / 2))
      width: 100%

  .filter__item
    text-align: center
    border-bottom: 6px solid transparent
    cursor: pointer
    +media-md(down)
      margin-bottom: 5px

  .filter__item.filter__active
    color: $main-blue
    border-bottom-color: $main-blue

  .catalog__name
    font-size: 40px
    line-height: 48px
    color: $main-blue
    margin-bottom: 20px
    +media-lg(down)
      font-size: 30px
      line-height: 35px

  .no_products
    margin-bottom: 40px

  .product__list
    margin-bottom: 40px
    display: grid
    grid-template-columns: repeat(auto-fit, calc(100% / 6))
    +media-lg(down)
      grid-template-columns: repeat(auto-fit, calc(100% / 4))
    +media-md(down)
      grid-template-columns: repeat(auto-fit, calc(100% / 3))
    +media-xs(down)
      grid-template-columns: repeat(auto-fit, calc(100% / 2))

  .catalog__buttons
    display: flex
    justify-content: center

  .load__products
    padding: 20px 60px
    font-size: 20px
    line-height: 24px
    color: $light-text
    background-color: $main-blue
    border-radius: 30px
    cursor: pointer
    border: none
    font-family: $text-base-family


.catalog__category
  color: $main-pink

.catalog__material
  color: $main-blue

.catalog__list
  margin: 20px 0

.catalog__title
  font-size: 40px
  line-height: 48px
  margin-bottom: 20px
  +media-md(down)
    font-size: 35px
    line-height: 35px

.catalog__list-wrapper
  display: grid
  gap: 10px
  grid-template-columns: repeat(auto-fit, calc((100% - 30px) / 4))
  +media-md(down)
    grid-template-columns: repeat(auto-fit, calc((100% - 20px) / 3))
  +media-sm(down)
    grid-template-columns: repeat(auto-fit, calc((100% - 10px) / 2))


.catalog__item
  text-align: center

  .item__link
    text-decoration: none
    font-size: 25px
    line-height: 30px
    color: inherit
    +media-md(down)
      font-size: 18px
      line-height: 24px

  .item__image
    position: relative
    padding-bottom: 75%
    margin-bottom: 20px

    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: auto
      border-radius: 20px
      object-fit: cover