.register-block
    max-width: 660px  
    min-height: 100%
    background: linear-gradient(270deg, #000000 65.47%, rgba(255, 255, 255, 0) 148.24%)
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25))
    border-radius: 20px
    padding: 40px 0
    margin-top: 100px
    margin-bottom: 100px
    +media(0, 575px)
        padding: 20px 0
    &__title
        font-size: 30px
        line-height: 36px
        display: flex
        align-items: center
        justify-content: center
        text-transform: uppercase
        margin-bottom: 40px
        color: $main-pink
        +media(0, 575px)
            margin-bottom: 20px
            font-size: 25px
            line-height: 30px
.register-form
    display: flex
    flex-direction: column 
    &__wrapper
        height: 115px
        +media(0, 575px)
            height: 95px
            display: flex
            flex-direction: column
            align-items: center
            align-content: center
    &__input 
        border: 2px solid $main-blue
        filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.25))
        color: rgba(251, 251, 251, 0.5)
        border-radius: 40px
        padding-left: 20px
        padding-right: 20px
        height: 75px
        font-size: 20px
        line-height: 24px
        display: flex
        align-items: center
        width: 100%
        +media(0, 575px)
            padding: 12px 20px
            height: 50px
            border: 1px solid $main-blue
    &__button
        height: 75px
        border: 2px solid $main-blue
        filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.25))
        border-radius: 40px
        font-size: 20px
        line-height: 24px
        display: flex
        align-items: center
        justify-content: center
        color: $main-blue
        text-transform: uppercase
        cursor: pointer
        font-family: inherit
        +media(0, 575px)
            padding: 12px 20px
            height: 50px
            border: 1px solid $main-blue
            width: 272px
    &__button_link 
        color: $main-purple
        text-decoration: none
        height: 75px
        border: 2px solid $main-blue
        filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.25))
        border-radius: 40px
        font-size: 20px
        line-height: 24px
        display: flex
        width: 280px
        align-items: center
        justify-content: center
        text-transform: uppercase
        margin-top: 40px
        padding: 0 20px
        +media(0, 575px)
            padding: 12px 20px
            height: 50px
            border: 1px solid $main-blue
            width: 272px
            margin-top: 20px
.alert-danger
    font-size: 14px
    color: $main-pink
    display: flex
    justify-content: center
    align-items: center
    height: 40px 
