@font-face
    src: url('../fonts/maler.ttf')
    font-family: 'Maler'
    font-display: swap
    font-weight: 400

@font-face
    src: url('../fonts/Inter-Regular.ttf')
    font-family: 'Inter-400'
    font-display: swap
    font-weight: 400

@font-face
    src: url('../fonts/Inter-SemiBold.ttf')
    font-family: 'Inter-600'
    font-display: swap
    font-weight: 600

*
    box-sizing: border-box

html, body
    min-width: 320px
    min-height: 100vh
    display: flex
    flex-direction: column
    position: relative

body, textarea
    font-family: $text-base-family
    font-size: $text-base-size
strong, h1, h2, h3
    font-weight: 500 // ubuntu

body
    max-width: 100%

.main-content
    flex-grow: 1

input:not([class]), button:not([class])
    outline: none
    font-size: 20px
    line-height: 24px
    font-weight: 400
    padding: 25px 20px
    border: 1px solid $main-blue
    border-radius: 40px
    background-color: transparent
    width: 280px
    &::placeholder
        color: $black-50
        font-family: $text-base-family
