// colors
$light-text: #FFF
$black-text: #000
$black-50: #878787
$bg-color: #E5E5E5
$main-purple: #AC89DB
$main-green: #42CE02
$main-blue: #1F95F2
$main-pink: #F731A3

// fonts
$text-base-size: 16px
$text-base-family: 'Maler', serif

// Breakpoints
$xl: 1200px
$lg: 992px
$md: 768px
$sm: 576px
$xs: $sm - 1
