.profile__tabs
  margin-bottom: 20px
  display: flex
  justify-content: space-between
  align-items: center
  +media-xs(down)
    flex-wrap: wrap
  .tabs__item
    flex: 0 1 calc(25% - 5px)
    padding: 10px 0
    text-align: center
    border-bottom: 10px solid transparent
    cursor: pointer
    transition: .3s border-color
    +media-xs(down)
      flex: 0 1 calc(50% - 5px)
  .item__title
    font-size: 25px
    line-height: 30px
    font-weight: 400
    text-decoration: none
    color: inherit
    transition: .3s color
    +media-md(down)
      font-size: 18px
      line-height: 0
    +media-xs(down)
      font-size: 18px
      line-height: 0
  .tabs__item:hover
    border-color: $main-pink
    .item__title
      color: $main-pink
  .tabs__item.item__active
    color: $main-pink
    border-color: $main-pink
