.header
    padding: 52px 0
    background: linear-gradient(270deg, #000000 81.77%, rgba(255, 255, 255, 0) 138.94%)
.header-wrapper
    display: flex
    align-items: center
    margin: 0 -20px
.header__btn-menu
    border: none
    width: auto
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    margin: 0 20px
.header__logo
    margin: 0 20px
    position: relative
.header__tagline
    position: absolute
    font-size: 18px
    font-weight: 400
    line-height: 22px
    color: $black-text
    padding: 5px 13px
    background-color: $light-text
    border-radius: 0 0 20px 20px
    top: -65px
.header__search
    margin: 0 20px
    padding: 20px 20px 20px 72px
    width: 100%
    background-image: url(/images/svg/search.svg)
    background-repeat: no-repeat
    background-position: 20px center
    color: $light-text
.header__personal
    margin: 0 20px
    display: flex
    align-items: center
.header__cart
    margin-right: 30px
