@import "../reset"
@import "../grid"

.wrapper
    margin: 10px 0
    min-height: calc(100vh - 20px)
    box-shadow: 4px 4px 15px 7px rgba(27, 40, 51, 0.2)
.aside
    padding: 30px 65px
    background-color: #F2F2F2
.menu
    display: flex
    flex-direction: column
.menu-link
    font-size: 25px
    font-weight: 600
    color: #7B7B7B
    &.active
       color: #1F95F2

